@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

:root {
  --mainColor:#eaeaea;
  --secondaryColor: #fff;

  --borderColor: #4b5156;

  --mainText:#28334aff;
  --secondaryText: #4b5156;
}

body {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
}

p,span,label,input,li,a{
  font-family: 'Roboto Mono', monospace;
}

strong {
  color: #F65058ff;
  font-size: 20px;
}


h1 { font-size: 65px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul{
  list-style: none;
}

.s1-main {
  background-image: url('background.jpg');
  border-bottom: 1px solid var(--borderColor);
}

.s1{
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}


.s2{
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container{
  width: 1200px;
  margin: 0 auto;
}

.about-info {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 40px;
}

.about-wrapper {
  height: 60vh;
}

.about-wrapper h1{
  color: #28334aff;
}

.greeting-wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 40em;
}


.img-wrapper {
  padding-top: 130px;
}

.myself {
  width: 300px;
  display: block;
  border-radius: 15px;
  border: 10px solid #28334aff;
  box-shadow: 5px 10px #28334aff;
  
}

.intro-info {
  color: black;
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.intro-wrapper {
  padding-top: 100px;
}

.intro-wrapper h1 {
  color: #28334aff;
  font-size: 90px;
}

.intro-wrapper p {
  font-size: 30px;
  color: #F65058ff;
  font-weight: bold;
  text-decoration: underline;
}

.aboutme-info{
  padding-left: 30px;
}

.project-card {
  padding-bottom: 20px;
  box-shadow: 5px 10px;
}

.project-card a {
  color:#F65058ff;
}

.project-card img {
  width: 100%;
  border-radius: 5px;
}

.card-info {
  text-align: center;
}

.contact-info {
  text-align: center;
}

.contact-info strong {
  font-size: 45px;
  text-decoration: underline;
}

.contact-items{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 50px;
  
}

.contact-item1 {
  text-align: center;
  color: var(--mainText);
}

.contact-item2 {
  text-align: center;
  color: var(--mainText);
}

.skills-info {
  background-color: #fcd643;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
}

.social-link{
  padding-right: 10px;
}

#resume-link{
  font-size: 25px;
  font-weight: bold;
  color: #28334aff;
  text-decoration: underline;
}

#github-link{
  color: black;
}

.footer {
  background-color: #fcd643;
  height: 5%;
  background-position: top;
  border-top: 1px solid black;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media  only screen and (max-width: 700px) {
  .intro-wrapper h1 {
    font-size: 37px;
  }
  .myself {
    width: 140px;
    display: flex;
    border-radius: 50%;
    border: 4px solid #28334aff;
    box-shadow: 2px 6px #28334aff;
    margin-top: 250px;
    margin-left: -50px;
  }

  .skills-info {
    justify-content: none;
    flex-direction: column;
    height: fit-content;
  }
}
